# Archivos sensibles
config/service-account.json

# Archivos temporales
workspace/
*.bin
*.out
__pycache__/
programador/__pycache__/
programador/wavesbyte-taximetro-504536420576.json
programador/firmware.bin
.env